body, html {
    /* height: 100%; */
    background: url("images/logo.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

* {
  box-sizing: border-box;
}

.container { 

    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 16px;
    background-color: white;
}

  input[type=text], input[type=password],input[type=date],input[type=time] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


.btn {
  background-color: #f15757;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}